@tailwind base;
@tailwind components;
@tailwind utilities;


.text-stroke {
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: white;
}

.home_page_main_container {
  background: url('./assets/ba07ae69d9ac6ed2f219f354170115f5.png');
display: flex;
justify-content: center;
align-items: center;
  height: 60%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  margin: auto ;
  /* padding: 200px; */

}

.sub-header{
  animation: subheaderanimation 6s infinite; 
  /* box-shadow: 0 20px 20px red; */
}

@keyframes subheaderanimation {
0% {color : rgb(107 114 128)}
25% {color : rgb(31 41 55)}
50% {color : rgb(66, 66, 66)}
75% {color :  rgb(75 85 99)}
100% {color : white}
}